body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

/**header**/
#header-nav {
    background-color: #f6b319;
    border: 0;
    border-radius: 0;
}

header {
    margin-bottom: 20px;
}

.logo-img {
    margin: 10px 15px 10px 0;
    float: left;
}

#brand {
    padding-right: 200px;
}


.navbar-brand {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 900;
    padding-top: 25px;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgb(84, 78, 78);
    text-decoration: none;
    color: #717135;
    font-weight: bold;
    margin-top: 15px;
    line-height: 1;
    display: flex;
}

a {
    text-decoration: none;
}

#brand {
    columns: #000;
    text-transform: uppercase;
    font-size: 0.75em;
    margin-top: 15px;
}

#cert {
    width: 40px;
    height: 40px;
}

.navbar-brand p span {
    vertical-align: middle;
}

.collapsable-nav span, div, a, a:hover, a:active, a::after, a:default, a:focus{
    color: #61122f;
    text-decoration: none;
    text-align: center;
}

#name {
    font-size: 1em;
}

#nav-list li {
    padding: 20px;
    font-size: 1.2em;
    
}

#nav-list div {
    color: #797936;
}

#collapse {
    display:flexbox;
    justify-content: end;
}

#phone-number span {
    color: #61122f;
}
#phone-number > div {
    color: #717135;
}

#phone-number {
    padding: 20px 0 20px 0;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #f6b319;
    border: 1px white solid;
}

#main-content {
    margin-top: 20px;
}
.jumbotron {
    display: flex;
    justify-content: center;
    margin: 0;
    
}

.jumbotron > img {
    box-shadow: 0 0 50px #3f0c1f;
}
.jumbotron > img:nth-child(3) {
    width: 100%;
}

@media (min-width: 992px) {
    #nav-list > li:nth-child(4) {
        padding-right: 0px;
    }
}

#main-content span {
    color: #fff;
}

.tile {
    position: relative;
}

.tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: 0.8;

}


#menu-tile, #map-tile, #specials-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    position: relative;
}

#menu-tile:hover, #map-tile:hover, #specials-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

.home-tiles {
    margin-top: 30px;
}

#menu-tile {
    background: url('/images/menu-tile.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

#specials-tile {
    background: url('/images/specials-tile.jpg') no-repeat;
    background-position: center;
    background-size:cover;
}

footer {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #2f2e2e;

}

footer div {
    color: #cccccc;
}

.ftrcol {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#end {
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;
}

.footer-row {
    display: flex;
    align-items: baseline;
    position: relative;
    text-align: center;
}

#details-delivery {
    color: #628e26;
}

#phone-under {
    color:#6d9d29;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
}

#menu-main, #menu-main div {
    color: #fff;
}

.tile img {
    width: auto;
}

.category-tile {
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
}

.category-tile span {
    font-size: 1.2em;
}

.category-tile:hover {
    box-shadow: 0px 1px 5px 1px #cccccc;
}

#selection-menu {
    margin-top: 40px;
}

#menu-main h1 {
    margin-bottom: 10px;
}

#menu-main {
    width: 75%;
}

.menu-item-tile {
    margin-bottom: 25px;
}


#menu-item-tile > hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5 !important;
}

.menu-item-tile .menu-item-price{
    font-size: 1.1em;
    text-align: right;
    margin-top: -15px;
    
}

.menu-item-tile .menu-item-price span{
    font-size: .6em;
}

@media (max-width: 575px) {
    .menu-item-tile .menu-item-price{
        font-size: 1.1em;
        text-align: center;
        margin-top: -15px;
        padding-bottom: 20px;
    }

    .menu-item-description > h2, .menu-item-description > p{
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;
    }
}

.menu-item-photo {
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.menu-item-photo div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: #557c3e;
    text-align: center;
}

.menu-item-description {
    text-align: left;
    padding-right: 30px;
    padding-left: 30px;
}

h2.menu-item-title {
    margin: 0 0 10px;
}

.menu-item-details {
    font-size: .9em;
    font-style: italic;
}

@media (min-width:367px) and (max-width: 450px) {
    .navbar-header {
        max-width: 300px;
    }
    .navbar-header h1{
        font-size: 1.1em;
    }
    .navbar-header span{
        font-size: 0.8em;
    }
}

@media (max-width: 366px) {
    .navbar-header {
        max-width: 210px;
    }
    .navbar-header h1{
        font-size: 0.9em;
    }
    .navbar-header span {
        font-size: 0.6em;
    }
}




